body {
  margin-top: 50px;
  font-family: "Comic Sans MS";
  text-decoration: none;
  background-color: #ffeecc; /*light brown*/
}

header {
  padding-top: 20px;
  background: #4da6ff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  text-shadow: 2px 2px grey;
}

h2 {
  margin-top: 45px;
  margin-bottom: 35px;
  font-size: 20px;
}

nav ul li {
  background: #0066cc;
  color: white;
  display: inline-block;
  list-style-type: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:active {
  color: #3399ff;
  text-decoration: underline;
}

nav ul li a:hover {
  color: white;
}

li:active {
  background: #cce6ff;
  color: #cce6ff;
}

li:hover {
  background-color: #1f3d7a;
}

li.active {
  color: #4da6ff;
}

a.active {
  color: #ffff4d;
}

/*section formatting for about page*/
section div {
  text-align: center;
  background: #fff2e6; /*light orange*/
  width: 100%;
  margin: 1px;
}

p.about {
  background: #fff2e6; /*light orange*/
  margin-left: 1em;
  margin-right: 1em;
  padding: 30px;
}

/*section formatting for contact page*/
p.contact {
  background: #fff2e6; /*light orange*/
  margin-left: 1em;
  margin-right: 1em;
  padding: 30px;
}
