body {
  margin: 0;
  font-family: arial;
  text-decoration: none;
}

header {
  background: #4da6ff;
}

h1, h2 {
  margin: 0;
}

nav ul li {
  background: #0066cc;
  color: white;
  display: inline-block;
  list-style-type: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:active {
  color: #3399ff;
  text-decoration: underline;
}

nav ul li a:hover {
  color: white;
}

li:active {
  background: #cce6ff;
  color: #cce6ff;
}

li:hover {
  background-color: #1f3d7a;
}

li.active {
  color: #4da6ff;
}

a.active {
  color: black;
}
